Play_notebooks/
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
dist/
build/

# Virtual environments
.venv/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/

# Data artifacts
#data/input/*
#data/output/*
